## Bucles

In [3]:
"""for elemento in iterable:
    print("Bloque a ejecutar")"""

'for elemento in iterable:\n    print("Bloque a ejecutar")'

In [4]:
dias = ["lunes", "martes", "miercoles", "jueves", "viernes", "sabado", "domingo"]

for dia in dias:
    print(f"Hoy es: {dia}")

Hoy es: lunes
Hoy es: martes
Hoy es: miercoles
Hoy es: jueves
Hoy es: viernes
Hoy es: sabado
Hoy es: domingo

In [5]:
alumnos = ["fermin", "helena", "nau", "paco", "ro", "ezequiel"]
alumnos_corregidos = []

for alumno in alumnos:
    alumnos_corregidos.append(alumno.capitalize())
    
print(alumnos_corregidos)

['Fermin', 'Helena', 'Nau', 'Paco', 'Ro', 'Ezequiel']

In [6]:
numeros = [1,2,3,4,5,6,7,8,9,10]
pares = []

for numero in numeros:
    if numero % 2 == 0:
        pares.append(numero)
        
print(pares)

[2, 4, 6, 8, 10]

In [8]:
alumno = {
    'nombre': 'Fulanito',
    'apellido': 'Xiraxi',
    'edad': 75,
    'estudios': 'DAM'
}

for key in alumno.keys():
    print(key)

nombre
apellido
edad
estudios

In [9]:
alumno = {
    'nombre': 'Fulanito',
    'apellido': 'Xiraxi',
    'edad': 75,
    'estudios': 'DAM'
}

for value in alumno.values():
    print(value)

Fulanito
Xiraxi
75
DAM

In [11]:
alumno = {
    'nombre': 'Fulanito',
    'apellido': 'Xiraxi',
    'edad': 75,
    'estudios': 'DAM'
}

for clave, valor in alumno.items():
    print(f'{clave} : {valor}')

nombre : Fulanito
apellido : Xiraxi
edad : 75
estudios : DAM

In [14]:
dias = ["lunes", "martes", "miercoles", "jueves", "viernes", "sabado", "domingo"]

for i, dia in enumerate(dias):
    print(f'{i} : {dia}')

0 : lunes
1 : martes
2 : miercoles
3 : jueves
4 : viernes
5 : sabado
6 : domingo

In [17]:
nums = [2,65,76,3,4,23,26,90,1]
total = 0

for num in nums:
    total += num
    
print(total)

290